.border {
	border: solid black 0.5px;
}

.height {
	&-1 {
		height: 20px;
	}
}

.width {
	&-1 {
		width: 20px;
	}
}

.collapse {
	border-collapse: collapse;
}

#body {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.grid-container {
	position: relative;
	top: 70px;
	display: inline-table;
	border-collapse: collapse;
}
