.border {
  border: solid black 0.5px;
}

.height-1 {
  height: 20px;
}

.width-1 {
  width: 20px;
}

.collapse {
  border-collapse: collapse;
}

#body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#body-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#body-wrapper span {
  margin-top: 5px;
}

.grid-container {
  position: relative;
  margin-top: 10px;
  display: inline-table;
  border: black solid 1px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  height: 100px;
  width: 420px;
}

#title:hover {
  cursor: pointer;
}

#name {
  margin-left: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 1px;
  font-size: 24px;
  display: inline-block;
}

#logo {
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#logo:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}

.menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  -webkit-filter: opacity(0.9);
          filter: opacity(0.9);
  -webkit-transition: 5s -webkit-filter ease-in-out;
  transition: 5s -webkit-filter ease-in-out;
  transition: 5s filter ease-in-out;
  transition: 5s filter ease-in-out, 5s -webkit-filter ease-in-out;
}

#menu {
  position: relative;
  bottom: 435px;
  width: 600px;
  height: 450px;
  z-index: 2;
}

@media only screen and (max-width: 768) {
  #menu {
    width: 422px;
    height: 422px;
  }
}

#menu-header {
  font-size: 60px;
  color: white;
  cursor: default;
  font-weight: 900;
  letter-spacing: 5px;
  background: black;
}

.hide {
  display: none;
}

.blur {
  -webkit-filter: blur(6px);
          filter: blur(6px);
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#menu-options {
  font-weight: bold;
  font-size: 20px;
  color: white;
}

#menu-options span {
  background: black;
  -webkit-filter: opacity(0.8);
          filter: opacity(0.8);
}

#menu-options form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#menu-info {
  width: 40%;
  font-size: 18px;
}

.menu-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 60px 40px 0px 40px;
}

#select-size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
}

#size {
  margin-top: 15px;
  margin-left: 10px;
  width: 100px;
  height: 30px;
  font-size: 19px;
  background: #b3b3b3;
  border: black solid 1px;
}

#credits {
  margin-top: 50px;
}

.option {
  margin-top: 12px;
  font-size: 18px;
  background: black;
  color: wheat;
}

input[type='radio'] {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

#size-grp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#reload-btn {
  margin-top: 15px;
  margin-left: 8px;
  cursor: pointer;
}

#reload-btn:hover {
  -webkit-animation: rotate 2s linear infinite forwards;
          animation: rotate 2s linear infinite forwards;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=style.css.map */